version: "3.8"

services:
  backend:
    build: ./engine_service
    container_name: r-chess-engine-service
    ports:
      - "8000:8000"
    environment:
      - STOCKFISH_PATH=/usr/games/stockfish

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    environment:
      - ENGINE_URL=http://backend:8000/analyze
      - CHESSGROUND_VERSION=8.2.0
    depends_on:
      - backend
