version: "3.8"

services:
  backend:
    build: ./engine_service
    container_name: r-chess-engine-service
    ports:
      - "8000:8000"
    environment:
      - STOCKFISH_PATH=/usr/games/stockfish

  frontend:
    build: ./frontend
    ports:
      - "8080:8080"
    environment:
      - ENGINE_URL=http://backend:8000/analyze
      - CHESSGROUND_VERSION=8.2.0
    depends_on:
      - backend


  # NOVÝ Player Frontend - GPT
  game:
    build: ./game_frontend
    container_name: r-chess-game-frontend
    ports:
      - "8081:8081"
    environment:
      - ENGINE_URL=http://backend:8000/analyze
      - CHESSGROUND_VERSION=8.2.0
    depends_on:
      - backend

  # NOVÝ Player Frontend - GEMINI
  player_frontend:
    build: ./player_frontend
    container_name: r-chess-player-frontend
    ports:
      - "8082:8082"  # Mapujeme interní 8080 na externí 8081
    environment:
      # URL k backendu v rámci Docker sítě
      - ENGINE_URL=http://backend:8000/analyze
    depends_on:
      - backend